@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  font-size: 14px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  user-select: none;
}

.logo {
  background-color: rgb(var(--background-start-rgb));
  background-image: url('../../public/logo.png');
  background-position: -0.7rem center;
  background-size: contain;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  padding-left: 3.5rem;
}

/* a bug from PrimeReact? */
.p-toast .p-toast-message .p-toast-message-content {
  border: none;
}